[submodule "vim/bundle/vim-jade"]
        path = vim/bundle/vim-jade
        url = https://github.com/digitaltoad/vim-jade 
[submodule "vim/bundle/vim-javascript"]
        path = vim/bundle/vim-javascript
        url = https://github.com/pangloss/vim-javascript 
[submodule "vim/bundle/vim-jst"]
        path = vim/bundle/vim-jst
        url = https://github.com/briancollins/vim-jst 
[submodule "vim/bundle/vim-powerline"]
        path = vim/bundle/vim-powerline
        url = https://github.com/Lokaltog/vim-powerline/ 
